<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Pengaturan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <!-- Informasi Developer -->
    <ion-card class="developer-card">
      <ion-card-header>
        <ion-card-subtitle>Informasi Developer</ion-card-subtitle>
        <ion-card-title>Tentang EcoTrace</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="dev-info">
          <p>Dibuat oleh <strong>Rayya Sevareno</strong>.</p>
        </div>
        <p class="app-version">Versi Aplikasi: 1.2</p>
      </ion-card-content>
    </ion-card>

    <!-- Manajemen Data -->
    <h2 class="section-title">Manajemen Data</h2>
    <ion-list inset="true">
      
      <ion-item button (click)="exportData()" detail="false">
        <ion-icon name="download-outline" slot="start" color="secondary"></ion-icon>
        <ion-label>Ekspor Data (Backup)</ion-label>
      </ion-item>

      <ion-item button (click)="triggerImport()" detail="false">
        <ion-icon name="cloud-upload-outline" slot="start" color="tertiary"></ion-icon>
        <ion-label>Impor Data (Restore)</ion-label>
      </ion-item>
      
      <!-- Hidden file input for import -->
      <input type="file" #fileInput (change)="importData($event)" accept=".json" style="display: none;">

      <ion-item button (click)="confirmClearData()" lines="none" detail="false">
        <ion-icon name="trash-outline" slot="start" color="danger"></ion-icon>
        <ion-label color="danger">Hapus Seluruh Data</ion-label>
      </ion-item>

    </ion-list>

  </div>
</ion-content>
